*{
    box-sizing: border-Item;
}
.Flexbox-Container{
    display:flex;
    flex-direction: column;
    height: 970px;
}
.FlexItem-1,.FlexItem-2,.FlexItem-3{
    border: 1px solid black;
    /* height: 300px; */
    flex:1 1 auto;

}
